pkgbase = sunshine-mpp-git
	pkgdesc = Game Stream server for Moonlight, latest git
	pkgver = r2524.8810c5cc
	pkgrel = 1
	url = https://github.com/LizardByte/Sunshine
	install = sunshine-mpp-git.install
	arch = x86_64
	arch = aarch64
	license = GPL3
	makedepends = git
	makedepends = boost
	makedepends = cmake
	makedepends = ninja
	makedepends = nodejs
	makedepends = npm
	makedepends = clang
	depends = avahi
	depends = boost-libs
	depends = curl
	depends = libayatana-appindicator
	depends = libevdev
	depends = libnotify
	depends = libpulse
	depends = libva
	depends = libvdpau
	depends = libx11
	depends = libxcb
	depends = libxfixes
	depends = libxrandr
	depends = libxtst
	depends = miniupnpc
	depends = numactl
	depends = openssl
	depends = opus
	depends = udev
	depends = mpp
	optdepends = cuda: NvFBC capture support
	optdepends = libcap
	optdepends = libdrm
	provides = sunshine
	conflicts = sunshine
	conflicts = sunshine-git
	conflicts = sunshine-bin
	source = git+https://github.com/LizardByte/Sunshine.git#branch=master
	source = git+https://github.com/flatpak/flatpak-builder-tools.git
	source = git+https://github.com/flathub/shared-modules
	source = git+https://github.com/LizardByte/build-deps.git#commit=b2459cc3b1a8a6727c87b04d8c82f7a435b35165
	source = git+https://github.com/LizardByte/doxyconfig.git
	source = git+https://github.com/google/googletest
	source = git+https://github.com/games-on-whales/inputtino.git
	source = git+https://github.com/moonlight-stream/moonlight-common-c.git
	source = git+https://github.com/sleepybishop/nanors.git
	source = git+https://github.com/FFmpeg/nv-codec-headers
	source = git+https://github.com/LizardByte/nvapi-open-source-sdk
	source = git+https://gitlab.com/eidheim/Simple-Web-Server.git
	source = git+https://github.com/michaeltyson/TPCircularBuffer.git
	source = git+https://github.com/LizardByte/tray
	source = git+https://github.com/LizardByte/Virtual-Gamepad-Emulation-Client.git
	source = git+https://gitlab.freedesktop.org/wayland/wayland-protocols.git
	source = git+https://gitlab.freedesktop.org/wlroots/wlr-protocols.git
	source = git+https://github.com/cgutman/enet.git
	source = git+https://github.com/nyanmisaka/ffmpeg-rockchip.git#branch=6.1
	source = git+https://github.com/GPUOpen-LibrariesAndSDKs/AMF
	source = git+https://code.videolan.org/videolan/x264.git
	source = git+https://bitbucket.org/multicoreware/x265_git.git
	source = git+https://gitlab.com/AOMediaCodec/SVT-AV1.git
	source = mpp.patch::https://github.com/hbiyik/Sunshine/compare/0107ca44d7ecce3ce1c46102decdf891d81e6816...mpp.patch
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = 2dccb55c71c0966a7d07e2474f79987db14a0d655df6a6c1bb4063786bf64d02

pkgname = sunshine-mpp-git
